@font-face {
    font-family: 'Allembert';
    src: url('./font/allembert.ttf');
}

@font-face {
    font-family: 'Gumbo';
    src: url('./font/gumbo.otf');
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Gumbo' !important;
}

a:hover {
    background-color: skyblue;
}

body {
  font-family: "Montserrat";
  margin: 0;
}

body > .container {
    padding: 0 !important;
}

.bg-header {
  background: #131313 url("../img/bg.jpg") center 0px no-repeat;
  height: 370px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
}

.logo {
    height: 250px;
    width: auto;
    align-self: center;
 }

 #mainCanvas {
	
}

.navbar {
    border-radius: 0 !important;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

.ro-dropdown {
    min-width: 160px;
}

.ro-icon {
    position: relative;
    width: 24px;
    height: 24px;
}

.ic-info {
    background: url("../img/info.gif") center 0px no-repeat;
    margin: 0 auto;
    background-size: contain;
    margin-bottom: 7px;
}

.ic-main {
    background: url("../img/info.gif") center 0px no-repeat;
    margin: 0 auto;
    background-size: contain;
    margin-bottom: 7px;
}

.ic-account {
    background: url("../img/account.gif") center 0px no-repeat;
    margin: 0 auto;
    background-size: contain;
    margin-bottom: 7px;
}

.ic-db {
    background: url("../img/search.gif") center 0px no-repeat;
    margin: 0 auto;
    background-size: contain;
    margin-bottom: 7px;
}

.ic-admin {
    background: url("../img/admin.gif") center 0px no-repeat;
    margin: 0 auto;
    background-size: contain;
    margin-bottom: 7px;
}

.btn-discord {
    position: relative;
    float: left;
    width: 200px;
    align-self: flex-end;
}

.btn-discord > a {
    padding: 10px;
    background: whitesmoke;
    position: absolute;
    width: 100%;
    left: 5%;
    bottom: 0;
    margin-bottom: 5%;
    border-radius: 7px;
}

span.menu-item {
    font-family: 'Gumbo';
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }